* {
    margin: 0;
    padding: 0;
}

body {
    background: url(shara\ desert.jpg);
}

.first {
    display: flex;
    justify-content: space-between;
}

.left {
    box-sizing: border-box;
    border: 2px solid black;
    margin: 42px 50px;
}

.logo {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
}

.nav {
    display: flex;
    border: 2px solid blue;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.lis {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    padding: 20px;
}

.menu {
    margin-left: 25px;
}