* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

body {
    background-image: url(shara\ desert.jpg);
    /* background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten; */
    overflow: hidden;
}

.first {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.left {
    box-sizing: border-box;
    margin: 42px 50px;
}

.logo {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    margin-left: 80px;
    margin-top: 7px;
}

.nav_child {
    display: flex;
    padding: 40px;
    margin-left: 600px;
    align-items: center;
    justify-content: space-between;
}

.lis {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    padding: 20px;
}

.menu {
    box-sizing: border-box;
    margin-right: 120px;
    margin-top: 25px;
}

.second_parent {
    display: flex;
    box-sizing: border-box;
    height: 70vh;
    width: 100vw;
    margin-top: 10px;
    justify-content: space-around;
}

.box {
    position: relative;
    transition: 500ms;
}

.img {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    opacity: 1;
    border-radius: 10px;
}

.text {
    color: rgba(255, 255, 255, 0.726);
    position: absolute;
    font-weight: bold;
    z-index: 1;
    left: 25px;
    top: 10px;
    padding-top: 10px;
}

.box:hover {
    transform: translateY(-20px);
}

h1 {
    font-size: 50px;
}

.btn {
    box-sizing: border-box;
    border: 2px solid white;
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    font-weight: bold;
    z-index: 1;
}

.btn:hover {
    color: white;
    background-color: black;
}

.left_second {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 50px;
}

.right_second {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}

@media screen and (min-width:0px) and (max-width:636px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        background-repeat: repeat-x;
    }
    ;
    .left {
        box-sizing: border-box;
        margin: 40px 0px;
    }
    .logo {
        box-sizing: border-box;
        height: 25px;
        width: 25px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .nav_child {
        display: flex;
        margin-left: 50px;
        margin-right: 0px;
        margin-top: 25px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .menu {
        box-sizing: border-box;
        margin-right: 20px;
        margin-top: 30px;
    }
    .second_parent {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .img {
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
    .right_second {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width:637px) and (max-width:856px) {
    * {
        margin: 0;
        padding: 0;
    }
    .left {
        box-sizing: border-box;
        margin: 40px 0px;
    }
    .logo {
        box-sizing: border-box;
        height: 25px;
        width: 25px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .nav_child {
        display: flex;
        margin-left: 50px;
        margin-right: 0px;
        margin-top: 25px;
        padding: 0px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .menu {
        box-sizing: border-box;
        margin-right: 20px;
        margin-top: 30px;
    }
    .second_parent {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .img {
        width: 100%;
        height: auto;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
    .right_second {
        box-sizing: border-box;
        display: flex;
        flex-wrap: column;
        margin-left: auto;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}